.cv-builder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'STIX Two Text';
  /* background: #e1e1e1; */
  padding-top: 5rem;

  .cv-builder {
    display: flex;
    flex-direction: column;
    width: 795px;
    margin: 2rem 0;
    border: 1px solid #666;
    padding: 10px;
    background: #eee;

    .divider-line {
      border-bottom: 1px solid #666;
      width: 100%;
      height: 5px;
    }

    .subtitle {
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid #666;
      margin: 15px 0;
    }

    .title-name {
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      border: 1px dashed #cb67e4;
      background: #e1e1e1;

      & div:nth-child(2) {
        font-size: 16px;
        font-weight: normal;
        color: #666;
        border: 1px dashed #cb67e4;
        background: #e1e1e1;
        margin-bottom: 3px;
      }
    }

    .contact-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 14px;
      margin-top: 7px;
      column-gap: 5px;
      row-gap: 3px;
      div {
        span {
          border: 1px dashed #cb67e4;
          background: #e1e1e1;
        }
        .editable-field-editing {
          width: 250px;
        }
      }
    }
    .description-container {
      font-style: italic;
      margin-top: 5px;
      padding: 5px;
      border: 1px dashed #cb67e4;
      background: #e1e1e1;
    }

    .experiences-container,
    .education-container,
    .skills-container {
      display: flex;
      flex-direction: column;
      .editable-field-container {
        margin: 2px 0;
        border: 1px dashed #cb67e4;
      }
      .experience-dnd,
      .education-dnd,
      .skills-dnd {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .experience-card,
        .education-card,
        .skill-card {
          display: flex;
          flex-direction: column;
          border: 1px dashed #cb67e4;
          background: #e1e1e1;
          position: relative;
          padding: 0 10px;

          .btn-move {
            opacity: 0.2;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: -40px;
            top: -10px;
            height: 35px;
            width: 30px;
            background-color: #cb67e4;
            margin: 0.5rem;
            /* padding: 0.5rem; */
            color: white;
            border: none;
            border-radius: 6px;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 500;
            cursor: grab;
            box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease, opacity 0.3s ease;

            &:hover {
              opacity: 1;
              background-color: #a649c9;
            }

            &:active {
              opacity: 1;
              background-color: #944baf;
            }
          }
          .experience-header,
          .education-header {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
          }
          .experience-details,
          .education-detail {
            display: flex;
            justify-content: space-between;
            & div:nth-child(2) {
              font-style: italic;
            }
          }
          .experience-task {
            display: flex;
            flex-direction: column;
            row-gap: 7px;
            padding-left: 2rem;
            padding-top: 10px;

            .editable-field-container {
              display: list-item;
              list-style-type: none;
              padding-left: 1.5em; /* Ajusta este valor según la longitud del guion */
              text-indent: -1.5em;
            }
            .editable-field-span::before {
              content: ' ';
              padding-right: 0.5em; /* Espacio entre el guion y el texto */
            }
            @media only screen and (max-width: 600px) {
              & {
                padding-left: 1rem;
              }
            }
          }
        }
        .btn-delete {
          opacity: 0.2;
          align-self: end;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35px;
          width: 30px;
          background-color: #e74c3c;
          margin: 0.5rem 0;
          color: white;
          border: none;
          border-radius: 6px;
          font-size: 1.25rem;
          line-height: 1.75rem;
          font-weight: 500;
          cursor: pointer;
          box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
          transition: background-color 0.3s ease, opacity 0.3s ease;

          &:hover {
            opacity: 1;
            background-color: #c0392b;
          }

          &:active {
            background-color: #a93226;
          }
        }
      }
      .btn-add {
        align-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 30px;
        background-color: #cb67e4;
        margin: 0.5rem;
        /* padding: 0.5rem; */
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #a649c9;
        }

        &:active {
          background-color: #944baf;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    & {
      padding: 5rem 1.3rem 1rem 0.5rem;
    }
  }
}
