.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    .home-title {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: clamp(2rem, 3vw + 1rem, 3.75rem);
        /* font-size: 3.75rem; */
        line-height: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #171717;
        font-weight: 800;

        & span:nth-child(2) {
          color: #cb67e4;
          text-transform: uppercase;
        }
      }
      p {
        text-align: center;
        color: #737373;
        max-width: 48rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: 1.25rem;
      }
    }

    .home-action-btn {
      .btn-start {
        height: 55px;
        width: 250px;
        background-color: #cb67e4;
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #a649c9;
        }

        &:active {
          background-color: #944baf;
        }
      }
    }
    .screenshot-container {
      margin-top: 3rem;
      max-width: 1200px;
      img {
        position: relative;
        max-height: 700px;
        border-radius: 8px;
        z-index: 99;
        box-shadow: 0px 0px 20px 0px #cb67e46b;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    &{
      .screenshot-container{
        padding: 0 10px;
      }
    }
  }
}
