footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background: #262626;
  height: 25dvh;
  color: #e1e1e1;
  position: relative;

  .bg-absolute {
    position: absolute;
    height: 460px;
    background: #262626;
    bottom: 230px;
    width: 100%;
  }

  .faq {
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    transition: all 0.5s ease;
    color: #fff;
    border: 1px dashed #fff;
    background: #353535;
    &:hover {
      border: 1px dashed #cb67e4;
      color: #cb67e4;
      background: #262626;
    }
  }

  .footerby {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    p {
      font-weight: 600;
      font-size: 14px;
      a {
        transition: color 0.3s ease;
        &:hover {
          color: #cb67e4;
        }
      }
    }

    .github-container {
      height: 30px;
      width: 30px;
      cursor: pointer;
      svg {
        color: #e1e1e1;
        transition: color 0.3s ease;
        &:hover {
          color: #cb67e4;
        }
      }
    }
  }
  @media (width <= 600px) {
    & {
      .bg-absolute {
        height: 200px;
        bottom: 190px;
      }
    }
  }
}
