.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  row-gap: 1rem;
  padding: 3rem 0;
  .faq-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    border: 1px dashed #cb67e4;
    padding: 1rem 2rem;
    background: #e1e1e1;

    .faq-title {
      display: block;
      border-bottom: 1px solid #262626;
      padding-bottom: 10px;
      font-size: 2rem;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
      width: 100%;
    }

    .faq-subtitle {
      margin-top: 1rem;
      color: #222222;
    }
    p {
      font-weight: 600;
    }
  }
  .home-action-btn {
    .btn-start {
      height: 55px;
      width: 250px;
      background-color: #cb67e4;
      margin: 1.5rem 0 0 0;
      padding: 0.5rem 1rem;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 500;
      cursor: pointer;
      box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #a649c9;
      }

      &:active {
        background-color: #944baf;
      }
    }
  }
  @media (width <= 600px) {
    & {
      padding: 1rem 5px;
      .faq-section {
        padding: 1rem;
        .faq-title {
          font-size: 1.8rem;
        }
        p {
          font-weight: 400;
        }
      }

      .home-action-btn {
        .btn-start {
          margin: 1rem 0;
        }
      }
    }
  }
}
